.findBlock {
    height: 80px;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

h3 {
    background-color: #a8a5a5;
    margin: 0px;
}

button {
    margin: auto auto 0px auto;
    background-color: #a8a5a5;
}
